# Logs
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Node
cache
.tmp
tmp

# OS
.DS_Store

# Tests, local files
coverage
.env

# Artifacts
nodejs_faceapi.zip
